@import url("https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap");
body {
  margin: 0;
  font-family: "Shippori Mincho", serif;
  background-color: #282828;
}

a {
  text-decoration: none;
  color: inherit;
}
